{# Credit: Heroicons (https://heroicons.com) #}
<c-vars
  class
  variant="outline"
  :class_map="{
              'outline': 'size-6',
              'solid': 'size-6',
              'mini': 'size-5',
              'micro': 'size-4'
              }"
></c-vars>

{% define class_map|get_item:variant|add:" shrink-0" as classes %}
{% if class %}
  {% define class|add:" "|add:classes as classes %}
{% endif %}

{% if variant == "outline" %}
  <svg aria-hidden="true" class="{{ classes }}" data-slot="icon" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 12h14" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
{% elif variant == "solid" %}
  <svg aria-hidden="true" class="{{ classes }}" data-slot="icon" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" d="M4.25 12a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75Z" fill-rule="evenodd"></path>
  </svg>
{% elif variant == "mini" %}
  <svg aria-hidden="true" class="{{ classes }}" data-slot="icon" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" fill-rule="evenodd"></path>
  </svg>
{% elif variant == "micro" %}
  <svg aria-hidden="true" class="{{ classes }}" data-slot="icon" fill="currentColor" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z"></path>
  </svg>
{% endif %}
