<c-vars
  size="md"
  variant="default"
  icon
  icon_leading
  icon_trailing
  icon_variant
  square
  outline
  wide
  glass
></c-vars>

{% define "btn-xs btn-sm btn-md btn-lg"|build_class_map:"btn" as sizes %}
{% define "btn-neutral btn-accent btn-info btn-success btn-warning btn-error btn-ghost btn-link"|build_class_map:"btn" as variants %}
{% define icon if_=icon as icon_leading %}

{% define slot|wordcount|yesno:",true" as is_empty %}
{% if not square and is_empty %}
  {% if not icon_leading or not icon_trailing %}
    {% define True as square %}
  {% endif %}
{% endif %}

{% define sizes|get_item:size as class_size %}
{% define class_size|add:" btn-square" if_=square name="class_size" %}

{% define "" as button_classes %}
{% if variant != "default" %}
  {% define variants|get_item:variant|append_class:button_classes as button_classes %}
{% endif %}

{% define button_classes|append_class:"btn-outline" if_=outline name="button_classes" %}
{% define button_classes|append_class:"btn-wide" if_=wide name="button_classes" %}


{% define button_classes|append_class:class_size as button_classes %}
<button class="btn {{ button_classes }}">
  {% if icon_leading %}
    {% if icon_leading|striptags == icon_leading %}
      <c-component is="icon.{{ icon_leading }}" :variant="icon_variant" />
    {% else %}
      {{ icon_leading }}
    {% endif %}
  {% endif %}

  {{ slot }}

  {% if icon_trailing %}
    {% if icon_trailing|striptags == icon_trailing %}
      <c-component is="icon.{{ icon_trailing }}" :variant="icon_variant" />
    {% else %}
      {{ icon_trailing }}
    {% endif %}
  {% endif %}
</button>
