{% load static %}
{% load cotton_daisyui %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Astral UI</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="m-20 join gap-2">
      <c-daisyui.button icon="adjustments-horizontal" circle variant="info"/>

      <c-daisyui.button icon="adjustments-horizontal" variant="error" tooltip="hi" tooltip_position="bottom"/>

      <c-daisyui.button variant="error" loading loading_variant="dots" tooltip="hi" tooltip_variant="success"/>

      <c-daisyui.button icon_leading="adjustments-horizontal" variant="success">test</c-daisyui.button>

      <c-daisyui.button icon_trailing="adjustments-horizontal" variant="primary">test</c-daisyui.button>

      <c-daisyui.button>
        <c-slot name="icon">
          <c-heroicon.adjustments-horizontal/>
        </c-slot>
      </c-daisyui.button>

      <c-daisyui.button icon="chart-bar" icon_trailing="adjustments-horizontal">
        test
      </c-daisyui.button>

      <c-daisyui.button>
        <c-heroicon.chart-bar/>
        asdf
        <c-heroicon.adjustments-horizontal/>
      </c-daisyui.button>

      <c-daisyui.button>
        asdf
        <c-heroicon.adjustments-horizontal/>
      </c-daisyui.button>

      <c-daisyui.button href="#" icon="link"/>
    </div>
    <div class="m-20">
      <c-daisyui.tabs variant="lifted" name="demo">
        <c-daisyui.tab label="Tab 1" checked="checked" group="abc">
          Tab 1 content
        </c-daisyui.tab>
        <c-daisyui.tab label="Tab 2" group="abc">
          Tab 2 content
        </c-daisyui.tab>
      </c-daisyui.tabs>
    </div>
  </body>
</html>
