{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Astral UI</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="m-20 join gap-2">
      <button class="btn btn-error btn-square btn-md">
        <c-icon.adjustments-horizontal/>
      </button>

      <button class="btn btn-error btn-square btn-md">
        <span class="loading loading-dots"></span>
      </button>

      <button class="btn btn-success">test</button>

      <button class="btn btn-primary">test
        <c-icon.adjustments-horizontal/>
      </button>

      <button class="btn btn-square"><c-icon.adjustments-horizontal/></button>

      <button class="btn">
        <c-icon.chart-bar />
        test
        <c-icon.adjustments-horizontal/>
      </button>

      <button class="btn">
        <c-icon.adjustments-horizontal/>
        asdf
        <c-icon.adjustments-horizontal/>
      </button>

    </div>
    <div></div>
    <div class="m-20 join gap-2">
      <c-button icon="adjustments-horizontal" variant="error" />

      <c-button variant="error" loading loading_variant="dots"/>

      <c-button icon_leading="adjustments-horizontal" variant="success">test</c-button>

      <c-button icon_trailing="adjustments-horizontal" variant="primary">test</c-button>

      <c-button>
        <c-slot name="icon">
          <c-icon.adjustments-horizontal/>
        </c-slot>
      </c-button>

      <c-button icon="chart-bar" icon_trailing="adjustments-horizontal">
        test
      </c-button>

      <c-button>
        <c-icon.adjustments-horizontal/>
        asdf
        <c-icon.adjustments-horizontal/>
      </c-button>
    </div>
  </body>
</html>
