{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Astral UI</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
  </head>
  <body>
    <c-button icon="adjustments-horizontal" variant="danger">
    </c-button>
    <c-button>
      <c-slot name="icon">
        <c-icon.adjustments-horizontal variant="mini"/>
      </c-slot>
    </c-button>
    <c-button icon="chart-bar" icon_trailing="adjustments-horizontal">
      test
    </c-button>
  </body>
</html>
